@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url("/assets/andrew-kliatskyi-jpu0gMXT9to-unsplash.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

@layer components {
	.liStyle {
		@apply flex cursor-pointer items-center gap-1 transition-colors hover:text-blue-400;
	}
}
